.product-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

span,
h1,
h2,
p {
    margin: 0;
}

.product-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: brown;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 23px;
    padding: 14px;
    margin: 6px;
    width: 16%;
    background-color: white;
}

.product-card img {
    width: 100%;
    border-radius: 15px;
}

h2 {
    width: 97%;
    font-size: 13px;
    line-height: 19px;
}

img {
    margin-bottom: 10px;
}

.product-card .old-price {
    text-decoration: line-through;
    margin-right: 5px;
    color: cadetblue;
}

.old-price {
 font-size: 12px;
}

p {
    margin-bottom: 15px;
}

.price {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    color: greenyellow;
}
